.productCatTitlesWrap {
    padding: 45px 15px;
    background: #ffffffd9;
    text-align: center;
  }
  
  h3.ProductCatTitle {
    font-size: 35px;
    font-weight: 500;
    color: #222;
    margin-bottom: 0.4rem;
  }
  
  h4.ProductCatSubTitle {
    font-size: 16px;
    font-weight: 400;
    color: #7b7b7b;
  }
  
  .productCatTiles {
    margin-top: 42px;
    margin-right: auto;
    margin-bottom: 15px;
    margin-left: auto;
  }
  .mainProductsWrap {
    margin-top: 0 !important;
    margin-right: auto !important;
    margin-bottom: 90px !important;
    margin-left: auto !important;
    padding-right: 15px;
    padding-left: 15px;
  }
  
  .mainProduct {
    -webkit-transition: opacity 0.25s, visibility 0.25s, -webkit-transform 0.25s;
    transition: opacity 0.25s, visibility 0.25s, transform 0.25s,
      -webkit-transform 0.25s;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
  }
  
  .mainProductInner {
    margin-top: 30px;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  
    position: relative;
    width: 100%;
    padding-right: 7.5px;
    padding-left: 7.5px;
  }
  
  @media (min-width: 768px) {
    .mainProductInner {
      -ms-flex: 0 0 33.333333%;
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
    }
  }
  
  @media (min-width: 1025px) {
    .mainProductInner {
      -ms-flex: 0 0 25%;
      flex: 0 0 25%;
      max-width: 25%;
  
      padding-right: 15px;
      padding-left: 15px;
    }
  }
  
  .mainProductInnerImage {
    position: relative;
  }
  
  .productImageLink {
    -webkit-transform: scale(1.005);
    transform: scale(1.005);
    -webkit-transition: opacity 0.3s,
      -webkit-transform 8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: opacity 0.3s, transform 8s cubic-bezier(0.25, 0.46, 0.45, 0.94),
      -webkit-transform 8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    display: block;
    width: 100%;
    height: 100%;
  }
  
  .productImageWlBtn {
    position: absolute;
    z-index: 40;
    left: 12px;
    top: 12px;
    transition: 0.3s;
  }
  
  a.productImageWlLink {
    width: 20px;
    height: 22px;
    text-align: center;
    margin: 0;
    font-size: 18px;
    color: #fff;
    line-height: 1;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    position: relative;
    display: inline-block;
  }
  
  .productImageHoverBtn {
    max-width: 100%;
    padding: 0 5px;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 50;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    text-align: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: column;
    flex-direction: column;
    transition: 0.3s;
  }
  
  .mainProductInnerImage:hover .productImageHoverBtn {
    opacity: 1;
    visibility: visible;
    top: 50%;
  }
  
  a.ProductImageHoverBtnLink {
    position: relative;
    display: inline-block;
    font-size: 0;
    margin: 2.5px 0;
    -webkit-box-shadow: 1px 1px 1px rgb(0 0 0 / 10%);
    box-shadow: 1px 1px 1px rgb(0 0 0 / 10%);
    padding: 15px;
    background: #fff;
    color: #222;
    border-radius: 40px;
    text-transform: capitalize;
    transition: 0.3s;
    text-align: center;
    transition: 0.3s;
    text-decoration: none;
  }
  
  a.ProductImageHoverBtnLink:hover {
    background: #222;
    color: #fff;
  }
  @media (min-width: 1025px) {
    a.ProductImageHoverBtnLink {
      padding: 0;
      font-size: 14px;
      margin: 5px 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      width: auto;
      max-width: 100%;
    }
  }
  
  .productImageHoverBtnLink span {
    display: inline-block;
    background: #383838;
    color: #fff;
    padding: 8px 10px;
    font-size: 12px;
    line-height: 12px;
    white-space: nowrap;
  }
  
  a.ProductImageHoverBtnLink span {
    text-decoration: none;
  }
  
  @media (min-width: 1025px) {
    a.ProductImageHoverBtnLink > span {
      display: block;
      padding: 8px 34px;
      -webkit-transition: opacity 0.15s, -webkit-transform 0.25s;
      transition: transform 0.25s, opacity 0.15s, -webkit-transform 0.25s;
    }
  }
  
  a.ProductImageHoverBtnLink > span:hover {
    -webkit-transform: translateX(-100%) translateY(-8px);
    -moz-transform: translateX(-100%) translateY(-8px);
    transform: translateX(-100%) translateY(-8px);
  }
  
  @media (min-width: 1025px) {
    a.ProductImageHoverBtnLink:hover > span {
      -webkit-transform: translateY(-100%) translateZ(0);
      transform: translateY(-100%) translateZ(0);
    }
  }
  
  a.ProductImageHoverBtnLink i {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-weight: 600;
    font-size: 18px;
  }
  
  @media (min-width: 1025px) {
    a.ProductImageHoverBtnLink i {
      position: absolute;
      top: 0;
      left: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      color: #fff;
      font-size: 20px;
      -webkit-transition: opacity 0.15s, -webkit-transform 0.25s;
      transition: opacity 0.15s, transform 0.25s, -webkit-transform 0.25s;
      -webkit-transform: translateY(100%);
      transform: translateY(100%);
    }
  }
  .mainProductInnerImage:hover a.productImageWlLink {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
  }
  
  @media (min-width: 1025px) {
    a.ProductImageHoverBtnLink:hover i {
      -webkit-transform: translateY(0) translateZ(0);
      transform: translateY(0) translateZ(0);
    }
  }
  .mainProductInnerImage a.productImageLink::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #0000001a;
    z-index: 1;
    transition: 0.5s;
  }
  .mainProductInnerImage a.productImageLink::before {
    background: #0000001a;
  }
  .mainProductInnerImage a.productImageLink::before {
    opacity: 0;
    visibility: hidden;
  }
  .mainProductInnerImage:hover a.productImageLink::before {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
  }
  .mainProductInfo {
    margin-top: 15px;
  }
  
  h3.mainProductInfoTitle {
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
    color: #222;
  }
  
  span.productInfoPrice {
    font-size: 14px;
    display: inline-block;
  }
  section.freeShipping {
    background-color: #f7f7f7;
    padding: 90px 0;
  }
  
.bannerSubTitle {
  color: #007bc4;
  font-size: 16px;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .bannerSubTitle {
    font-size: 3vw;
  }
}

.bannerInner {
  margin-top: 7px;
  font-size: 14px;
}

.bannerBtn {
  margin-top: 15px;
}

a.bannerBtn {
  color: #fff;
  background-color: #007bc4;
  border-radius: 35px;
  padding: 10px 14px;
  font-size: 12px;
  line-height: 16px;
  position: relative;

  outline: none;
  border-width: 0;

  box-shadow: none;

  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: none;
  font-weight: 600;
  cursor: pointer;
}
.productCatTitlesWrap {
  padding: 45px 15px;
  background: #ffffffd9;
  text-align: center;
}

h3.ProductCatTitle {
  font-size: 35px;
  font-weight: 500;
  color: #222;
  margin-bottom: 0.4rem;
}

h4.ProductCatSubTitle {
  font-size: 16px;
  font-weight: 400;
  color: #7b7b7b;
}

.productCatTiles {
  margin-top: 42px;
  margin-right: auto;
  margin-bottom: 15px;
  margin-left: auto;
}
.mainProductsWrap {
  margin-top: 0 !important;
  margin-right: auto !important;
  margin-bottom: 90px !important;
  margin-left: auto !important;
  padding-right: 15px;
  padding-left: 15px;
}

.mainProduct {
  -webkit-transition: opacity 0.25s, visibility 0.25s, -webkit-transform 0.25s;
  transition: opacity 0.25s, visibility 0.25s, transform 0.25s,
    -webkit-transform 0.25s;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
}

.mainProductInner {
  margin-top: 30px;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;

  position: relative;
  width: 100%;
  padding-right: 7.5px;
  padding-left: 7.5px;
}

@media (min-width: 768px) {
  .mainProductInner {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}

@media (min-width: 1025px) {
  .mainProductInner {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;

    padding-right: 15px;
    padding-left: 15px;
  }
}

.mainProductInnerImage {
  position: relative;
}

.productImageLink {
  -webkit-transform: scale(1.005);
  transform: scale(1.005);
  -webkit-transition: opacity 0.3s,
    -webkit-transform 8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: opacity 0.3s, transform 8s cubic-bezier(0.25, 0.46, 0.45, 0.94),
    -webkit-transform 8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  display: block;
  width: 100%;
  height: 100%;
}

.productImageWlBtn {
  position: absolute;
  z-index: 40;
  left: 12px;
  top: 12px;
  transition: 0.3s;
}

a.productImageWlLink {
  width: 20px;
  height: 22px;
  text-align: center;
  margin: 0;
  font-size: 18px;
  color: #fff;
  line-height: 1;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  position: relative;
  display: inline-block;
}

.productImageHoverBtn {
  max-width: 100%;
  padding: 0 5px;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 50;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  text-align: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: column;
  flex-direction: column;
  transition: 0.3s;
}

.mainProductInnerImage:hover .productImageHoverBtn {
  opacity: 1;
  visibility: visible;
  top: 50%;
}

a.ProductImageHoverBtnLink {
  position: relative;
  display: inline-block;
  font-size: 0;
  margin: 2.5px 0;
  -webkit-box-shadow: 1px 1px 1px rgb(0 0 0 / 10%);
  box-shadow: 1px 1px 1px rgb(0 0 0 / 10%);
  padding: 15px;
  background: #fff;
  color: #222;
  border-radius: 40px;
  text-transform: capitalize;
  transition: 0.3s;
  text-align: center;
  transition: 0.3s;
  text-decoration: none;
}

a.ProductImageHoverBtnLink:hover {
  background: #222;
  color: #fff;
}
@media (min-width: 1025px) {
  a.ProductImageHoverBtnLink {
    padding: 0;
    font-size: 14px;
    margin: 5px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
}

.productImageHoverBtnLink span {
  display: inline-block;
  background: #383838;
  color: #fff;
  padding: 8px 10px;
  font-size: 12px;
  line-height: 12px;
  white-space: nowrap;
}

a.ProductImageHoverBtnLink span {
  text-decoration: none;
}

@media (min-width: 1025px) {
  a.ProductImageHoverBtnLink > span {
    display: block;
    padding: 8px 34px;
    -webkit-transition: opacity 0.15s, -webkit-transform 0.25s;
    transition: transform 0.25s, opacity 0.15s, -webkit-transform 0.25s;
  }
}

a.ProductImageHoverBtnLink > span:hover {
  -webkit-transform: translateX(-100%) translateY(-8px);
  -moz-transform: translateX(-100%) translateY(-8px);
  transform: translateX(-100%) translateY(-8px);
}

@media (min-width: 1025px) {
  a.ProductImageHoverBtnLink:hover > span {
    -webkit-transform: translateY(-100%) translateZ(0);
    transform: translateY(-100%) translateZ(0);
  }
}

a.ProductImageHoverBtnLink i {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-weight: 600;
  font-size: 18px;
}

@media (min-width: 1025px) {
  a.ProductImageHoverBtnLink i {
    position: absolute;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 20px;
    -webkit-transition: opacity 0.15s, -webkit-transform 0.25s;
    transition: opacity 0.15s, transform 0.25s, -webkit-transform 0.25s;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
}
.mainProductInnerImage:hover a.productImageWlLink {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

@media (min-width: 1025px) {
  a.ProductImageHoverBtnLink:hover i {
    -webkit-transform: translateY(0) translateZ(0);
    transform: translateY(0) translateZ(0);
  }
}
.mainProductInnerImage a.productImageLink::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #0000001a;
  z-index: 1;
  transition: 0.5s;
}
.mainProductInnerImage a.productImageLink::before {
  background: #0000001a;
}
.mainProductInnerImage a.productImageLink::before {
  opacity: 0;
  visibility: hidden;
}
.mainProductInnerImage:hover a.productImageLink::before {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.mainProductInfo {
  margin-top: 15px;
}

h3.mainProductInfoTitle {
  font-size: 14px;
  font-weight: 500;
  text-transform: capitalize;
  color: #222;
}

span.productInfoPrice {
  font-size: 14px;
  display: inline-block;
}
section.freeShipping {
  background-color: #f7f7f7;
  padding: 90px 0;
}

.shippingRow {
  align-items: center;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -7.5px;
  margin-left: -7.5px;
}

.shippingCol {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 25px;
}

@media (min-width: 1025px) {
  .shippingCol {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}

.shippingColItems {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -7.5px;
  margin-left: -7.5px;
  align-items: center;
  justify-content: center;
  text-align: center;
  -ms-flex-direction: column;
  flex-direction: column;
}

.shippingColIcon {
  font-size: 48px;
  color: #293341;
  line-height: 100%;
  margin: 0 auto 10px;
  display: inline-block;
}

.shippingColItemContent {
  color: #7b7b7b;
}

h3.shippingTitle {
  color: #293341;
  font-size: 14px;
  margin-bottom: 5px;
}

/* NewsLetter */
.block-newsletter {
  display: inline-block;
  width: 100%;
  min-height: 175px;
  -webkit-box-shadow: -1px 0 5px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: -1px 0 5px 0 rgba(0, 0, 0, 0.15);
  box-shadow: -1px 0 5px 0 rgba(0, 0, 0, 0.15);
  background-color: #f2f2f2;
}
.block-newsletter-icon img {
  max-width: 169px;
  width: 100%;
  margin: auto;
}
.block-newsletter .shippingRow {
  padding: 2rem 0;
}

@media (max-width: 1025px) {
  .block-newsletter .shippingRow {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

.block-newsletter-title > h2 span {
  font-weight: 400;
}

.block-newsletter h2 {
  font-size: 25px;
  text-transform: uppercase;
  color: #000;
  font-weight: 800;
  margin-top: 7px;
  letter-spacing: 4px;
}

.block-newsletter > h2 span {
  font-weight: 400;
}

.block-newsletter p {
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 800;
  margin: 25px 0;
}
form#newsletter_form {
  display: flex;
}

.block-newsletter input[type="text"] {
  border: 0;
  width: 407px;
  height: 40px;
  padding: 10px 15px;
  font-size: 14px;
  color: #000;
  text-align: center;
  background: #d9d9d9;
  border-radius: 24px;
  outline: none;
}

.block-newsletter input.btn {
  background: #d45b4e;
  background: linear-gradient(
    90deg,
    rgba(212, 91, 78, 1) 0,
    rgba(183, 45, 37, 1) 100%
  );
  border: 2px solid #d45b4e;
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  height: 40px;
  border-radius: 20px;
  width: 109px;
  padding: 0;
  margin-left: 10px;
  cursor: pointer;
  -webkit-appearance: none;
}

.block-newsletter input.btn:hover {
  background: 0;
  color: #d45b4e;
}
@media (max-width: 1025px) {
  form#newsletter_form {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
}

/* * ================ Footer Section ================ * */

.footer-top {
  background-image: url(/img/footer-bg-grad.webp);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

/* Service Page Footer End */

.footer .edge-top {
  padding: 7.5em 0;
}

.footer .footer-subtitle,
.footer .footer-title {
  color: #f9f9f9;
}

button.footer-btn {
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  line-height: 21px;
  text-decoration: none;
  text-transform: none;
  letter-spacing: 0;
  -webkit-appearance: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  vertical-align: top;
  font-size: 16px;
  line-height: 21px;
  font-weight: 500;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  text-transform: none;
  white-space: nowrap;
  letter-spacing: 0;
  height: auto;
  max-width: 100%;
  border-color: #ff5b4a;
  background-color: #ff5b4a;
  padding: 17px 57px 18px;
  border-width: 0 !important;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

button.footer-btn:hover {
  background-color: #fd4431;
}

.footer-btn-link {
  color: #fff !important;
  font-weight: 600;
}

.footer-bottom {
  background-color: #171a21;
  color: #fff;
  ont-size: 17px;
  line-height: 1.66em;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
  vertical-align: top;
}
.footer-bottom-wrapper {
  margin-right: auto;
  margin-left: auto;
  position: relative;
  max-width: 1290px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: baseline;
}

@media (max-width: 992px) {
  .footer-bottom-wrapper {
    flex-wrap: wrap;
  }
}

.footer-bottom-wrapper {
  padding-top: 4em;
  padding-bottom: 4em;
  border-bottom: 1px solid #323641;
}

.logo img {
  width: 8em;
  height: auto;
}

@media (max-width: 415px) {
  .logo img {
    width: 6.5em;
  }
}

.footer-col p {
  color: #d2d3d5;
}

.footer-col .nav__links h4 {
  padding: 0.4em 0;
  font-size: 1.056em;
  font-weight: 600;
  line-height: 1.474em;
}

.footer-col nav ul {
  flex-direction: column;
  margin-top: 0.82em;
}

.footer-col nav ul li {
  padding: 0.4em 0;
}
.footer-col nav ul li a {
  color: #d2d3d5;
  font-size: 0.9em;
}
.footer-col nav ul li a::after,
.footer-col nav ul li a.active::after {
  background-color: #f9f9f9;
}
.discover-btn.footer-mail {
  color: #d2d3d5;
  margin: 0;
  opacity: 0.8;
  font-size: 16px;
}
.discover-btn.footer-mail::after {
  background-color: #d2d3d5;
  opacity: 0.8;
}

a.footer-number {
  display: block;
  margin-top: 1.3em;
  font-size: 20px;
  line-height: 1.5em;
  font-weight: 600;
  letter-spacing: -0.4px;
  color: #fff;
}

.container.footer-arc-wrapper {
  padding: 1em;
}

p.copyright-text {
  color: #d2d3d5;
}

p.copyright-text a {
  color: #ff5b4a;
}

@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

.social-links {
  margin-top: 1.4em;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
a.footer-social-icon {
  padding: 0.8em;
  border: 1px solid white;
  border-radius: 26%;
  margin-right: 0.5em;
}
a.footer-social-icon img {
  position: relative;
  filter: invert(1);
}
a.footer-social-icon img {
  filter: invert(1);
}
